.cat{
    height: 300px;
    width: 18vw;
    margin: 0.8vw;
    border: 2px solid rgb(222, 222, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;

}
.cat:hover{
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
}
.contCat{
        display: flex;
}